.header {
	width: 100%;
	height: 32px;
	display: flex;
	margin-top: 10px;
}
.home {
	align-items: center;
	display: inline-flex;
	flex-direction: row;
}

.logo {
	height: 32px;
	padding: 8px 8px 8px 0;
	width: 32px;
}

.reddit {    
    height: 18px;
    margin-right: 10px;
    width: auto;
}
.minimal { 
    font-family: 'RockoFLF';
    font-size: 75%;
    text-align: right;
    align-self: flex-start;
    margin-right: 5px;
 }  