


.App {
	width: 100vmax;
	text-align: center;
	display:grid;
	grid-template-rows: 100px 1fr;
	grid-template-columns: 16vmax 5fr;
	gap: 10px 0px;
	grid-template-areas: 
    "Sidebar Nav"
    "Sidebar Main"; 		
	background-color: var(--background-dark);
	-ms-overflow-style: none;
	scrollbar-width: none;
	color: var(--font-primary);
	transition: all 100ms ease-in;
	font-size: 0.8vmax;
}
::-webkit-scrollbar {
	display: none;
}
@media (max-width: 1027px) {
	.App {
		font-size: 2vmax;
	}
}