.App {
	width: 100%;
	text-align: center;
	margin: 0 auto;
	display: grid;
	grid-template-columns: [left] 300px [sidebar] 1fr [right];
	grid-template-rows: [top] 100px [header] 100vh [bottom];
	background-color: #000e14;
	-ms-overflow-style: none;
	scrollbar-width: none;
}
::-webkit-scrollbar {
	display: none;
}

.main-app {
	display: flex;
}
.cards-app {
	position: relative;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;
	top: 100px;
}
