@font-face {
	font-family: "RockoFLF";
	src: url("./fonts/RockoFLF/RockoFLF.ttf.woff") format("woff"), url("./fonts/RockoFLF/RockoFLF.ttf.svg#RockoFLF") format("svg"), url("./fonts/RockoFLF/RockoFLF.ttf.eot"), url("./fonts/RockoFLF/RockoFLF.ttf.eot?#iefix") format("embedded-opentype");
	font-weight: normal;
	font-style: normal;
}
:root{
	--reddit-color: #00b7ff;
	--background-dark: #f0f0f0;
	--background-primary: #f7f7f7;
	--background-secondary: #f3f3f3;
	--font-primary: #555;
}
[data-theme="true"] {
	--background-dark: #10141c;
	--background-primary: #20272c;
	--background-secondary: #32373d;
	--font-primary: #999;
}
body {
	margin: 0;
	font-family: "RockoFLF";
	color: #555;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--background-dark);
}
