.post {
	position: relative;
	z-index: 1;
	background-color: var(--background-primary);
	display: grid;
	grid-template-columns: 1fr 10fr 1fr;
	grid-template-rows: 25px 25px 475px 30px 1fr;
	grid-template-areas:
		"Votes Main right"
		"Votes Main right"
		". Main right"
		". Main right"
		". Main right";
	width: 90%;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
	font-family: Helvetica, sans-serif;
}
.post p {
	display: block;
	margin-block-start: 0em;
	margin-block-end: 0em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}
.post .post-votes {
	grid-area: Votes;
	display: flex;
	flex-direction: column;
	text-align: left;
	justify-content: space-between;
	align-items: center;
	background-color: var(--background-primary);
}
.post-main {
	grid-area: Main;
	display: flex;
	flex-direction: column;
}
.post-title {
	display: flex;
	flex-direction: row;
}
.post img {
	max-height: 500px;
	align-self: center;
}
.title {
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.media {
	overflow: hidden;
}
.info {
	margin: 5px;
	height: 30px;
}

.comments {
	text-align: left;
}
.comment-container {
	display: flex;
	flex-direction: row;
	margin: 20px 0px;
}
.comment {
	display: flex;
	flex-direction: column;
	border-left: 1px solid rgb(185, 185, 185);
	background-color: var(--background-dark);
}
.comment-score {
	min-width: 50px;
}
.comment-votes {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	text-align: center;
}
.author {
	font-weight: bold;
	background-color: var(--background-primary);
	padding: 5px 10px;
}
.ago {
	font-size: 0.8em;
}
.body {
	margin: 5px 0px;
	padding: 10px 10px;
	background-color: var(--background-dark);
}
.replies {
	margin-left: 20px;
	border-left: 1px solid rgb(185, 185, 185);
}
.reply {
	margin: 0px 0px 15px 0px;
}
.reply-author {
	font-weight: bold;
	background-color: var(--background-primary);
	padding: 5px 10px;
}
.reply-body {
	background-color: var(--background-dark);
	padding: 10px 0px 0px 10px;
}
.video-container {
	width: 40vw;
	height: 40vh;
	align-self: center;
}
.video {
	height: 100%;
	width: 100%;
}

